:root {
    --housing: #d94040;
    --housing-dark: #ca1c1c;
    --insurance: #60c46a;
    --insurance-dark: #39a244;
    --food: #fec840;
    --food-dark: #eeab01;
    --transportation: #53abde;
    --transportation-dark: #258cc8;
    --personal: #f1ff6f;
    --personal-dark: #d9ed22;
    --recreation: #9b7bd7;
    --recreation-dark: #825ec7;
    --utilities: #68d6d1;
    --utilities-dark: #31b9b2;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 1.5em;
}

.dash {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(#9900ff, #5d00ff);
}

form {
    border-radius: 8px;
    background-color: #ffffff;
    margin: 30px 25px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.134);
}

.inputs {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-expense-input, #new-amount-input {
    width: 50%;
    min-width: 50px;
    max-width: 400px;
    padding: 5px 5px 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
    background-color: #f4f4f4;
}

#container {
    width: 100%;
    height: 300px;
}

.housing {
    border: 3px solid var(--housing);
}

.insurance {
    border: 3px solid var(--insurance);;
}

.food {
    border: 3px solid var(--food);
}

.transportation {
    border: 3px solid var(--transportation);
}

.personal {
    border: 3px solid var(--personal);
}

.recreation {
    border: 3px solid var(--recreation);
}

.utilities {
    border: 3px solid var(--utilities);
}

.task {
    margin: 10px 0 0 0;
}